h1{
    color: blue;
    
}
p{
    color: brown;

}
.concluido{

    color: green;
}
img {
    width: 10%;
    margin: auto;
    display: block;
    align-items: center;
}
#switch-demo{
    color: blue;
}
.redirectimg{
    width:  599px;
    height: 264px;
}